​<div class="contenedor-paginas">
​<div class="container-form">
  <div class="form-add-dog">
    <form class="form-style" action="/users/add/newdog" method="post">

      <p>Add a Dog</p>

      <div>
        <label for="namedog">Namedog</label>
        <input class="controls-add" type="text" name="namedog"
          value={{dog.namedog}}>
      </div>
      ​
      <div>
        <label for="">Breed</label>
        <input class="controls" type="text" name="breed"
          value={{dog.breed}}>
      </div>
      ​
      <div>
        <label for="">Sex</label>
        <input class="controls-add" type="text" name="sex" placeholder="male, female"
          value={{dog.sex}}>
      </div>
      ​
      <div>
        <label for="">Telephone</label>
        <input class="controls-add" type="text" name="telephone"
          value={{user.telephone}}>
      </div>
      ​
      <div>
        <label for="">Description</label>
        <input class="controls-add" type="text" name="description"
          value={{dog.description}}>
      </div>
      ​
      <div>
        <label for="">Age</label>
        <input class="controls-add" type="text" name="age" value={{dog.age}}>
      </div>
      ​
      <div>
        <label for="">Weight</label>
        <input class="controls-add" type="text" name="weight"
          value={{dog.weight}}>
      </div>
      ​
      <div>
        <label for="">CP</label>
        <input class="controls-add" type="text" name="cp" value={{dog.cp}}>
      </div>
      ​
      <div class="dad-buttons">
        <div class="container-button">
          <button class="submit-button" type="submit">Add</button>
          <button class="cancel-button"><a class="colorletter-cancel"
              href="/users/homeprivate">Cancel</a></button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>