


<div>
  <img class="fotoDogDetail" src="{{dog.image}}" alt="">
</div>
<div>
  <img class="epigrafeDogDetail" src="{{dog.description}}" alt="">
</div>


<h3 class="name-dog">{{dog.namedog}}</h3>




  
  <div class="breed"> 
  <p><i class="fas fa-paw"></i> Hello I'm a {{dog.breed}}</p>
  <p>{{dog.description}}</p>
  <button type="button" class="btn"><a href="/users/dogchat" class="links-homepage">chat with {{dog.namedog}} parents</a></button> 
  </div>
  
  <hr class="lineaDogdetails">
  <div class="contenedor-formulariodogs">
  <div class="formulario-dogdetails"> 
  <p>SEX: {{dog.sex}}</p>
  </div>
  <div class="formulario-dogdetails"> 
  <p>TELEPHONE:{{user.telephone}}</p>
  </div>
  <div class="formulario-dogdetails"> 
  <p>AGE:{{dog.age}}</p>
  </div>
  <div class="formulario-dogdetails"> 
  <p>WEIGHT:{{dog.weight}}</p>
  </div>
  <div class="formulario-dogdetails"> 
  <p>POSTAL CODE:{{user.cp}}</p>
  </div>
</div>





<form action="/users/reviews/add" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1"></label>
    <input type="text" name="user" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    <input type="hidden" name= "userId" value='{{dog._id}}'>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">comments about {{dog.namedog}}</label>
    <textarea class="form-control" type="text" name="comments" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button class="btn" type="submit">ADD</button>
  </div>
</form>


<div class="form-review">
{{#each dog.reviews}}
<div class="review-item">
  <p>{{this.comments}}</p>
  <span>{{this.user}}</span>
</div>
{{/each}}
</div>

 