<h2>Este es el perfil del otro perro!</h2>


  <h3>Hello! I'm {{user.namedog}}</h3>

<div>
  <img src="{{user.image}}" alt="">
</div>

<div>
  <p>Breed: {{user.breed}}</p>
  <p>Sex: {{user.sex}}</p>
  <p>Telephone:{{user.telephone}}</p>
  <p>Age:{{user.age}}</p>
  <p>Weight:{{user.weight}}</p>
  <p>CP:{{user.cp}}</p>
</div>

<div>
<h3>Reviews</h3>
<p>Add a review</p>
<form action="/users/reviews/add" method="post">
  <label for="">User:</label>
  <input type="text" name="user">
  <input type="hidden" name= "userId" value='{{user._id}}'>

  <label for="">Comments:</label>
  <textarea type="text" name="comments"></textarea>

  <button type="submit">ADD</button>
</form>
</div>

{{#each user.reviews}}
<div class="review-item">
  <p>{{this.comments}}</p>
  <span>{{this.user}}</span>
</div>
{{/each}}


<button><a href="/users/homeprivate">Home</a></button>