
<body>

{{#each myInfoProfile.dog}}
<div class="fondo-profile">

<div class="contenedor-profileImage">
<img  src="{{this.image}}" class= "fotoperfil"  alt="...">
<h1 class="nombre">{{this.namedog}}</h1>
<h3 class="epigrafe">{{this.description}}</h3>
</div>
{{/each}}


 <div class="formulario-usuario">
 <form action="/users/editUser" method="post">
  <div class="form1">
    <label class="campoform" for="">Username</label>
    <input class="campo" type="text" name="username" value={{myInfoProfile.username}}>
  </div>
  <div class="form2">
    <label class="campoform" for="">Telephone</label>
    <input class="campo" type="text" name="telephone" value={{myInfoProfile.telephone}}>
  </div>
  <div class="form3"> 
    <label class="campoform" for="">PostalCode</label>
    <input class="campo" type="text" name="cp" value={{myInfoProfile.cp}}>
  </div class="form1">
  <button type="submit">EDIT</button>
  </form>
</div>




  




<div class="formulario-perro">
 <form action="/users/dogedit" method="post">
    {{#each myInfoProfile.dog}}
    <div>
      <input type="hidden" name="_id" value='{{this._id}}'>
    </div>
    <div>
      <label class="campoform" for="namedog">Namedog</label>
      <input class="campo" type="text" name="namedog" value={{this.namedog}}>
    </div>
    <div>
      <label class="campoform" for="">Breed</label>
      <input class="campo" type="text" name="breed" value={{this.breed}}>
    </div>
    <div>
      <label class="campoform" for="">Sex</label>
      <input class="campo" type="text" name="sex" id="sex-input" placeholder="e.g., male
        female" value={{this.sex}}>
    </div>
    <div>
      <label class="campoform" for="">Age</label>
      <input class="campo" type="text" name="age" value={{this.age}}>
    </div>
    <div>
      <label class="campoform" for="">Weight</label>
      <input class="campo" type="text" name="weight" value={{this.weight}}>
    </div>
    <div>
      <button class="boton-add" type="submit">EDIT</button>
    </div>
   {{/each}}
   </form>
 
</div>

  <div class="navbar-footer">
    
  <a href="/auth/logout">Log Out </a>
  <a href="/users/add/newdog">Add a dog</a>
  <a href="/users/homeprivate">CANCEL</a>
 
  </div>
</div>
</div>

</body>