<body>

  {{#each myInfoProfile.dog}}
  <div class="fondo-profile">

    <div class="contenedor-profileImage">
      <img src="{{this.image}}" class="fotoperfil" alt="...">
    </div>
    <h4 class="nombre">{{this.namedog}}</h4>
    <p class="epigrafe">{{this.description}}</p>
  </div>
  {{/each}}

  <div class="container-edit-form">
    <div class="formulario-general">
      <form class="eselform" action="/users/editUser" method="post">

        <p>Personal Information</p>

        <div>
          <label for="">Username</label>
          <input class="campo" type="text" name="username"
            value={{myInfoProfile.username}}>
        </div>
        <div>
          <label for="">Telephone</label>
          <input class="campo" type="text" name="telephone"
            value={{myInfoProfile.telephone}}>
        </div>
        <div>
          <label for="">PostalCode</label>
          <input class="campo" type="text" name="cp" value={{myInfoProfile.cp}}>
        </div class="form1">

        <div class="container-edit-button1">
          <button class="edit-button1" type="submit">Edit</button>
        </div>

      </form>
    </div>
  </div>


  <div class="container-edit-form">
    <div class="formulario-general">
      <form class="eselform" action="/users/dogedit" method="post">
        {{#each myInfoProfile.dog}}

        <p>Dog Information</p>

        <div>
          <input type="hidden" name="_id" value='{{this._id}}'>
        </div>
        <div>
          <label for="namedog">Namedog</label>
          <input class="campo" type="text" name="namedog"
            value={{this.namedog}}>
        </div>
        <div>
          <label for="">Breed</label>
          <input class="campo" type="text" name="breed" value={{this.breed}}>
        </div>
        <div>
          <label for="">Sex</label>
          <input class="campo" type="text" name="sex" id="sex-input"
            placeholder="e.g., male
            female" value={{this.sex}}>
        </div>
        <div>
          <label for="">Age</label>
          <input class="campo" type="text" name="age" value={{this.age}}>
        </div>
        <div>
          <label for="">Weight</label>
          <input class="campo" type="text" name="weight" value={{this.weight}}>
        </div>
        <div class="container-edit-button1">
          <button class="edit-button1" type="submit">Edit</button>
        </div>
      </form>
    </div>
  </div>

        <form action="/users/eraseDoggy/{{this._id}}" method="post">
          <button type="submit">Delete</button>
        </form>
        {{/each}}

  <div class="container-footer">
    <div class="navbar-footer">

      <a class="footer-letter" href="/users/add/newdog">Add a dog</a>
      <a class="footer-letter" href="/users/homeprivate">Home</a>
      <a class="footer-letter" href="/auth/logout">Log Out </a>

    </div>
  </div>


</body>