<nav>
  <ul>
    <li><a href="/auth/logout">Log Out </a> </li>
  </ul>
</nav>


{{#each myInfoProfile.dog}}

<h3>{{this.namedog}}</h3>
<img src="{{this.image}}" alt="">

{{/each}}

<h4>Personal Information</h4>

<form action="/users/editUser" method="post">
  <div>
    <label for="">Username</label>
    <input type="text" name="username" value={{myInfoProfile.username}}>
  </div>

  <div>
    <label for="">Telephone</label>
    <input type="text" name="telephone" value={{myInfoProfile.telephone}}>
  </div>

  <div>
    <label for="">CP</label>
    <input type="text" name="cp" value={{myInfoProfile.cp}}>
  </div>

  <button type="submit">EDIT</button>

</form>


<h4>Dog Information</h4>

 <form action="/users/dogedit" method="post">

      {{#each myInfoProfile.dog}}

    <div>
      <input type="hidden" name= "_id" value='{{this._id}}'>
  </div>

    <div>
      <label for="namedog">Namedog</label>
      <input type="text" name="namedog" value={{this.namedog}}>
    </div>

    <div>
      <label for="">Age</label>
      <input type="text" name="age" value={{this.age}}>
    </div>
    <div>
      <label for="">Weight</label>
      <input type="text" name="weight" value={{this.weight}}>
    </div>
    <div>
      <label for="">Breed</label>
      <input type="text" name="breed" value={{this.breed}}>
    </div>
    <div>
      <label for="">Sex</label>
      <input type="text" name="sex" placeholder="e.g., male
        female" value={{this.sex}}>
    </div>
    <button type="submit">EDIT</button>
  {{/each}}
  </form>

<div>
  <button><a href="/users/add/newdog">Add a dog</a></button>
  <button><a href="/users/homeprivate">HOME</a></button>
</div>
